body{
  font-family: 'Raleway';
  padding-bottom: 12vh;
  vertical-align: middle;
  background-image: url(error-access.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}


header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: rgba(0, 0, 0, 0.0);
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #FF4A52;
}

.cta {
  padding: 7px 20px;
  background-color: #FF4A52;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.cta:hover {
  background-color: white;
  color: #FF4A52;
}
